<%-include('./partials/encabesado.ejs')%>
<% if (alumno) { %>
<div class="container mt-4">
    <div class="card border-secundary">
        <div class="card-header">Editar Alumno</div>
        <div class="card-body">
            <form action="/update" method="post">
                <input type="text" id="id" name="id" value="<%= alumno.id %>" hidden>
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="<%= alumno.nombre %>" tabindex="1">
                </div>
                <div class="mb-3">
                    <label for="Matricula" class="form-label">Matricula</label>
                    <input type="number" class="form-control" name="matricula" id="matricula" value="<%= alumno.matricula %>" tabindex="2">
                </div>
                <div class="mb-3">
                    <label for="Domicilio" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="domicilio" value="<%= alumno.domicilio %>" tabindex="3">
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Sexo</label>
                    <select name="sexo" id="sexo" class="form-select" tabindex="4">
                        <option <%= alumno.sexo == 'Hombre' ? "selected" : '' %> value="Hombre">Hombre</option>
                        <option <%= alumno.sexo == 'Mujer' ? "selected" : '' %> value="Mujer">Mujer</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="from-labe">Especialidad</label>
                    <select name="especialidad" id="especialidad" class="form-select" aria-label="Default select example" tabindex="4">
                        <option <%= alumno.especialidad == 'Informatica' ? "selected" : '' %> value="Informatica" selected>Informatica</option>
                        <option <%= alumno.especialidad == 'Mecatronica' ? "selected" : '' %> value="Mecatronica">Mecatronica</option>
                        <option <%= alumno.especialidad == 'Energia' ? "selected" : '' %> value="Energia">Energia</option>
                        <option <%= alumno.especialidad == 'Terapia Física' ? "selected" : '' %> value="Terapia Física">Terapia Física</option>
                        <option <%= alumno.especialidad == 'Biotecnología' ? "selected" : '' %> value="Biotecnología">Biotecnología</option>
                        <option <%= alumno.especialidad == 'Logística y Transporte' ? "selected" : '' %> value="Logística y Transporte">Logística y Transporte</option>
                        <option <%= alumno.especialidad == 'Biomédica' ? "selected" : '' %> value="Biomédica">Biomédica</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>
<% } %>
